/*
	Theme Name: Pegasus
	Theme URI: http://clapat.ro/themes/pegasus-wordpress/
	Description: Responsive WordPress Theme
	Version: 1.0
	Author: Clapat
	Author URI: http://themeforest.net/user/clapat
	Created Date: 05/07/2016
	License: Themeforest
	License: GNU General Public License version 3.0
	License URI: http://www.gnu.org/licenses/gpl-3.0.html
	Tags: four-columns, custom-background, custom-colors, featured-images, full-width-template, theme-options
	Text Domain: pegasus
*/

/*------------------------------------------------------------------

01. General Styles
01. General Styles
02. Header
03. Page Styles
04. Portfolio 
05. Blog Slider
06. Blog Styles
07. Contact Styles
08. Shortcodes
09. Responsive Media Querries

-------------------------------------------------------------------*/

	
/*--------------------------------------------------
	01. General Styles
---------------------------------------------------*/

	html,body{
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size:15px;
		height:100%;
		width:100%;
		color:#777777;
		background-color:#fff;
	}
	
	html {
		box-sizing: border-box;
		margin-right: 0px!important;
		overflow: visible!important;
	}
	
	body {
		overflow-x:hidden;
		overflow-y:scroll!important;
		box-sizing: border-box;
	}
	
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
		border: 0;
		margin: 0;
		outline: 0;
		padding: 0;
		vertical-align: baseline;
	}
	
	article,
	aside,
	details,
	figcaption,
	footer,
	header,
	hgroup,
	nav,
	section {
		display: block;
	}
	
	audio,
	canvas,
	 {
		display: inline-block;
		max-width: 100%;
	}	
	
	address {
		font-style: italic;
		margin-bottom: 24px;
	}
	
	abbr[title] {
		border-bottom: 1px dotted #2b2b2b;
		cursor: help;
	}
	
	b,
	strong {
		font-weight: 700;
	}
	
	cite,
	dfn,
	em,
	i {
		font-style: italic;
	}
	
	mark,
	ins {
		background: none repeat scroll 0 0 #000;
		text-decoration: none;
		color:#fff;
		font-family: "Montserrat",sans-serif;
		font-size: 10px;
		font-weight: 400;
		letter-spacing: 4px;
		text-transform: uppercase;
		padding:2px 5px;
		margin-bottom:10px;
		display:inline-block;
	}
	
	code,
	kbd,
	tt,
	var,
	samp,
	pre {
		font-family: monospace, serif;
		font-size: 15px;
		-webkit-hyphens: none;
		-moz-hyphens:    none;
		-ms-hyphens:     none;
		hyphens:         none;
		line-height: 1.6;
	}
	
	pre {
		border: 1px solid rgba(0, 0, 0, 0.1);
		-webkit-box-sizing: border-box;
		-moz-box-sizing:    border-box;
		box-sizing:         border-box;
		margin-bottom: 24px;
		max-width: 100%;
		overflow: auto;
		padding: 12px;
		white-space: pre;
		white-space: pre-wrap;
		word-wrap: break-word;
	}
	
	blockquote,
	q {
		-webkit-hyphens: none;
		-moz-hyphens:    none;
		-ms-hyphens:     none;
		hyphens:         none;
		quotes: none;
	}
	
	blockquote:before,
	blockquote:after,
	q:before,
	q:after {
		content: "";
		content: none;
	}
	
	blockquote {
		color: #000;
		font-size: 18px;
		font-style: italic;
		font-weight: 300;
		line-height: 30px;
		margin-bottom: 24px;
		font-family:Georgia, "Times New Roman", Times, serif;
		border-left:2px #ddd solid;
		padding:20px 20px 20px 40px;
		letter-spacing: 0.01em;
	}
	
	blockquote span {
		display:block;
		margin-top:20px;
		font-weight:400;
		font-size:12px;
		font-style:normal;
		font-family: Verdana,Geneva,sans-serif;
		color:#999;
	}
	
	blockquote cite,
	blockquote small {
		color: #2b2b2b;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.5;
	}
	
	blockquote em,
	blockquote i,
	blockquote cite {
		font-style: normal;
	}
	
	blockquote strong,
	blockquote b {
		font-weight: 400;
	}
	
	small {
		font-size: smaller;
	}
	
	big {
		font-size: 125%;
	}
	
	sup,
	sub {
		font-size: 75%;
		height: 0;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}
	
	sup {
		bottom: 1ex;
	}
	
	sub {
		top: .5ex;
	}
	
	dl {
		margin-bottom: 24px;
	}
	
	dt {
		font-weight: bold;
	}
	
	dd {
		margin-bottom: 24px;
	}
	
	ul,
	ol {
		list-style: none;
		margin: 0 0 24px 20px;
	}
	
	ul {
		list-style: disc;
	}
	
	ol {
		list-style: decimal;
	}
	
	li > ul,
	li > ol {
		margin: 0 0 0 20px;
	}
	
	li {
		line-height: 20px;
		color:#333;
		margin-bottom:10px;
	}
	
	fieldset {
		border: 1px solid rgba(0, 0, 0, 0.1);
		margin: 0 0 24px;
		padding: 11px 12px 0;
	}
	
	legend {
		white-space: normal;
	}
	
	button,	input {
		line-height: normal;
	}
	
	input,
	textarea {
		background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0)); /* Removing the inner shadow, rounded corners on iOS inputs */
	}
	
	button, html input[type="button"], input[type="reset"], input[type="submit"] {
		cursor: pointer;
	}
	
	button[disabled],
	input[disabled] {
		cursor: default;
	}
	
	input[type="checkbox"],
	input[type="radio"] {
		padding: 0;
	}
	
	input[type="search"] {

		-webkit-appearance: textfield;
	}
	
	input[type="search"]::-webkit-search-decoration {
		-webkit-appearance: none;
	}
	
	button::-moz-focus-inner, input::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
	
	textarea {
		overflow: auto;
		vertical-align: top;
	}
	
	table, th, td {
		border: 1px solid rgba(0, 0, 0, 0.1);
	}
	
	table {
		border-collapse: separate;
		border-spacing: 0;
		border-width: 1px 0 0 1px;
		margin-bottom: 24px;	
		width: 100%;
	}
	
	caption, th, td {
		font-weight: normal;
		text-align: left;
	}
	
	th {
		border-width: 0 1px 1px 0;
		font-weight: bold;
	}
	
	td {
		border-width: 0 1px 1px 0;
	}
	
	del {
		color: #767676;
	}
	
	hr {
		border: 0;
		height: 50px;
		width:100%;
		float:none;
		margin:0;
		display:inline-block;
	}
	
	hr.small {
		height:20px;
	}
	
	hr:after {
		clear: both;
		content: " ";
		display: block;
		height: 0;
		visibility: hidden;
	}
	
	::selection {
		background: #000;
		color: #fff;
		text-shadow: none;
	}
	
	::-moz-selection {
		background: #000;
		color: #fff;
		text-shadow: none;
	}
	
	img {
		border: 0 none;
		max-width: 100%;
		vertical-align: middle;
		height:auto;
	}
		
	h1, h2, h3, h4, h5, h6 {
		font-weight: 400;
		font-family: 'Playfair Display', serif;
		color:#000;
		margin-bottom:10px;
	}
	
	h1.big-title{
		font-size: 60px;
		font-style: normal;
		font-weight: 400;
		line-height: 80px;
		margin-left:-1px;
	}
	
	.italic {
		color:#999;
		font-style:italic;
		margin-bottom:0;
		margin-left:3px;
	}
	
	h1{
		font-size:48px;
		line-height: 58px;
		margin-left:-1px;
	}
	
	h2{
		font-size: 36px;
		line-height: 48px;
		margin-left:-1px;
	}
	
	h3{
		font-size:30px;
		line-height: 40px;
		margin-left:-1px;
	}
	
	h4{
		font-size:24px;
		line-height: 34px;
		margin-left:-1px;	
	}
	
	h5{
		font-size:18px;
		line-height: 28px;
		margin-left:-1px;
	}
	
	h6{
		font-size:14px;
		line-height: 18px;
	}
	
	.light-content h1, .light-content h2, .light-content h3, .light-content h4, .light-content h5, .light-content h6, .light-content p {
		color: #fff;
	}
	
	.title-has-line {
		position:relative;
		margin-bottom:30px;
	}
	
	.title-has-line:after {
		background: none repeat scroll 0 0 #000;
		bottom: -15px;
		content: "";
		height: 2px;
		left: 0;
		position: absolute;
		width: 60px;
	}
	
	.text-align-center .title-has-line:after {
		background: none repeat scroll 0 0 #000;
		bottom: -15px;
		content: "";
		height: 2px;
		left: 50%;
		margin-left: -20px;
		position: absolute;
		width: 60px;
	}
	
	.text-align-right.title-has-line:after {
		background: none repeat scroll 0 0 #000;
		bottom: -15px;
		content: "";
		height: 2px;
		left: 50%;
		margin-left: -20px;
		position: absolute;
		width: 60px;
	}
	
	p {
		font-size:15px;
		margin-bottom:20px;
		line-height:25px;
		color:#777;
	}
	
	p.no-margins {
		margin-bottom:0;
	}
	
	.bigger p {
		font-family: 'Open Sans', sans-serif!important;
		font-size: 24px!important;
		font-weight: 400!important;
		line-height:36px!important;
		color:#222!important;
	}
	
	.smaller p, .smaller {
		font-family: "Montserrat",sans-serif!important;
		font-size: 10px!important;
		font-weight: 400!important;
		letter-spacing: 3px!important;
		color:#999!important;
		text-transform:uppercase!important;
	}
	
	.container {
		width:1280px;
		margin:0 auto;
	}
	
	.small .container {
		width:800px;
	}
	
	.full .container {
		width:100%;
	}
	
	.padding-full .container {
		width:100%;
		box-sizing:border-box;
		padding:0 50px;
	}
	
	.container.portfolio {
		width:1320px;
	}
	
	.container::after {
		clear: both;
		content: " ";
		display: table;
	}
	
	.container.no-composer {
		padding:100px 20px;
	}
	
	a:hover, a:active {
	  outline: 0;
	  color: #000;
	}
	
	a {
        text-decoration: none;
        -webkit-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
           -moz-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
            -ms-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
             -o-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
                transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
    }
	
	a {
		color: #000;
		outline: 0;
	}
	
	.light-link {
		color:#fff;
	}
	
	a:hover {
		text-decoration:none;
	}
	
	.one_half {
    	width: 47%;
	}	

	.one_third {
		width: 30.6%;
	}	

	.one_fourth {
		width: 22%;
	}	

	.one_fifth {
		width: 16.8%;
	}	

	.one_sixth {
		width: 13.33%;
	}	

	.two_fifth {
		width: 37.6%;
	}	

	.two_fourth {
		width: 48%;
	}		

	.two_third {
		width: 65.33%;
	}	

	.three_fifth {
		width: 58.4%;
	}	

	.three_fourth {
		width: 74%;
	}	

	.four_fifth {
		width: 79.2%;
	}	

	.five_sixth {
		width: 82.67%;
	}	

	.one_third, .two_third, .three_fourth, .one_fourth, .two_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
		float: left;
		margin-bottom: 20px;
		margin-right: 4%;
		position: relative;
	}
	
	.one_half {
		float: left;
		margin-bottom: 20px;
		margin-right: 6%;
		position: relative;
	}

	.last {
		margin-right:0px;
	}
	
	.text-align-center {
		text-align:center;
	}
	
	.text-align-left {
		text-align:left;
	}
	
	.outer {
		display:table;
		width:100%;
		height:100%;
	}
	
	.inner {
		display:table-cell;
		vertical-align:middle;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	
	.vc_row {
		position:relative;
		z-index:10;
	}
	
	#rotate-device {
		width:100%;
		height:100%;
		position:fixed;
		z-index:1000;
		top:0;
		left:0;
		background-color:#FFF;
		background-image:url(images/rotate.png);
		background-size:150px 150px;
		background-position:center;
		background-repeat:no-repeat;
		display:none;
	}
	
	
/*--------------------------------------------------
	02. Header Styles
---------------------------------------------------*/	
	
	
	#black-fade {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: 0;
		z-index: 10;
		visibility: hidden;
		-webkit-transition: all 0.3s ease-in-out 0.2s;
		-moz-transition: all 0.3s ease-in-out 0.2s;
		-o-transition: opacity 0.3s ease-in-out 0.2s;
		transition: all 0.3s ease-in-out 0.2s;	
	}
	
	#black-fade.is-active { 
		opacity: 0.85; 
		visibility:visible; 
	}
	
	#black-fade:hover { 
		cursor: pointer; 
	}
	
	header {
		width:100px;
		height:100%;
		position:fixed;
		top:0;
		left:0;
		background-color:transparent;
		border-right:#eee solid 1px;
		z-index:20;
		box-sizing:border-box;
		-webkit-transition: all 500ms cubic-bezier(0.765, 0.010, 0.230, 0.995);
		-moz-transition: all 500ms cubic-bezier(0.765, 0.010, 0.230, 0.995);
		-o-transition: all 500ms cubic-bezier(0.765, 0.010, 0.230, 0.995);
		transition: all 500ms cubic-bezier(0.765, 0.010, 0.230, 0.995);		
		-webkit-transition-timing-function: cubic-bezier(0.765, 0.010, 0.230, 0.995);
		-moz-transition-timing-function: cubic-bezier(0.765, 0.010, 0.230, 0.995);
		-o-transition-timing-function: cubic-bezier(0.765, 0.010, 0.230, 0.995);
		transition-timing-function: cubic-bezier(0.765, 0.010, 0.230, 0.995);
		
	}
	
	header.hidden {
		opacity:0;
	}
	
	#logo {
		position:fixed;
		z-index:20;
	}
	
	#logo a {
		display:block;
		position:relative;
	}
	
	#logo img {
		height: 40px;
		margin-top: 10px;
		margin-left: 30px;
		padding: 20px 0;
		width: auto;
	}
	
	.logged-in.admin-bar #logo img {
		margin-top: 40px;
	}
	
	#header-title-div, .blog-title-container  {
		display: inline-block;
		height: 100%;
		left: 0;
		margin: 0;
		position: absolute;
		top: 0;
		width: 100px;
		-webkit-transition: all 0.25s ease-in-out;
		-moz-transition: all 0.25s ease-in-out;
		-o-transition: all 0.25s ease-in-out;
		-ms-transition: all 0.25s ease-in-out;
		transition: all 0.25s ease-in-out;
	}
	
	
	
	#header-title-div.is-active, .blog-title-container.is-active {
		opacity:0;
	}
	
	#header-title, .blog-title-container .search_results {
		font-family: 'Playfair Display', serif;
		font-size: 12px;
		letter-spacing:1px;
		font-weight: 700!important;
		color:#000;
		text-transform:uppercase;
		position: absolute;
		width:400px;
		text-align:center;
		top: 50%;
		left: 50%;
		-moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
		-webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
		transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
	}
	
	.blog-title-container .search_results {
		z-index:120;
	}
	
	#hamburger-box {
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		height:100px;
		border-top:#fff solid 1px;
		-webkit-transition: background 0.2s ease-in-out;
		-moz-transition: background 0.2s ease-in-out;
		-o-transition: background 0.2s ease-in-out;
		-ms-transition: background 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	#hamburger-box:hover {
		border-top:#eee solid 1px;
	}
	
	.hamburger {
		display: block;
		position: absolute;
		overflow: hidden;
		margin: 0;
		padding: 0;
		width: 60px;
		height: 60px;
		font-size: 0;
		text-indent: -9999px;
		appearance: none;
		box-shadow: none;
		border-radius: none;
		border: none;
		cursor: pointer;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		left:20px;
		bottom:20px;
		z-index:1000;
		opacity:0.5;
		float:none;
	}
	
	.hamburger:hover {
		opacity:1;
	}
	
	.hamburger.hidden {
		opacity:0;
	}

	.hamburger:focus {
		outline: none;
	}
	
	.hamburger span {
		display: block;
		position: absolute;
		top: 28px;
		left: 20px;
		right: 20px;
		height: 2px;
		background-color: #000;
	}
	
	.hamburger span::before,
	.hamburger span::after {
		position: absolute;
		display: block;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #000;
		content: "";
	}
	
	.hamburger.is-active span, .hamburger.is-active span::before, .hamburger.is-active span::after {
		background-color: #000;
	}
	
	.hamburger span::before {
		top: -7px;
	}
	
	.hamburger span::after {
		bottom: -7px;
	}
	
	.hamburger-rotate {
		background-color:transparent;
	}
	
	.hamburger-rotate span {
		transition: background 0.3s, 0s;
	}
	
	.hamburger-rotate span::before,
	.hamburger-rotate span::after {		
		-webkit-transition-duration: 0.3s, 0.3s;
		-moz-transition-duration: 0.3s, 0.3s;
		-o-transition-duration: 0.3s, 0.3s;
		-ms-transition-duration: 0.3s, 0.3s;
		transition-duration: 0.3s, 0.3s;		
		-webkit-transition-delay: 0.3s, 0s;
		-moz-transition-delay: 0.3s, 0s;
		-o-transition-delay: 0.3s, 0s;
		-ms-transition-delay: 0.3s, 0s;
		transition-delay: 0.3s, 0s;
	}
	
	.hamburger-rotate span::before {		
		-webkit-transition-property: top, transform;
		-moz-transition-property: top, transform;
		-o-transition-property: top, transform;
		-ms-transition-property: top, transform;
		transition-property: top, transform;
	}
	
	.hamburger-rotate span::after {		
		-webkit-transition-property: bottom, transform;
		-moz-transition-property: bottom, transform;
		-o-transition-property: bottom, transform;
		-ms-transition-property: bottom, transform;
		transition-property: bottom, transform;
	}
	
	.hamburger-rotate.is-active {
		background-color: transparent;
	}
	
	.hamburger-rotate.is-active span {
		background: none;
	}
	
	.hamburger-rotate.is-active span::before {
		top: 0;		
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	
	.hamburger-rotate.is-active span::after {
		bottom: 0;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	
	.hamburger-rotate.is-active span::before,
	.hamburger-rotate.is-active span::after {
		-webkit-transition-delay: 0s, 0.3s;
		-moz-transition-delay: 0s, 0.3s;
		-o-transition-delay: 0s, 0.3s;
		-ms-transition-delay: 0s, 0.3s;
		transition-delay: 0s, 0.3s;
	}
	
	#menu {
		width:600px;
		height:100%;
		position:fixed;
		top:0;
		left:0;
		background-color:#fff;
		z-index:10;
		box-sizing:border-box;
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		transform: translateX(-100%);
		-webkit-transition: all 500ms cubic-bezier(0.765, 0.010, 0.230, 0.995) 0.1s;
		-moz-transition: all 500ms cubic-bezier(0.765, 0.010, 0.230, 0.995) 0.1s;
		-o-transition: all 500ms cubic-bezier(0.765, 0.010, 0.230, 0.995) 0.1s;
		transition: all 500ms cubic-bezier(0.765, 0.010, 0.230, 0.995) 0.1s;		
		-webkit-transition-timing-function: cubic-bezier(0.765, 0.010, 0.230, 0.995);
		-moz-transition-timing-function: cubic-bezier(0.765, 0.010, 0.230, 0.995);
		-o-transition-timing-function: cubic-bezier(0.765, 0.010, 0.230, 0.995);
		transition-timing-function: cubic-bezier(0.765, 0.010, 0.230, 0.995);		
	}
	
	#menu.is-active {
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		-o-transform: translateX(0px);
		-ms-transform: translateX(0px);
		transform: translateX(0px);
		webkit-transition: all 500ms cubic-bezier(0.765, 0.010, 0.230, 0.995);
		-moz-transition: all 500ms cubic-bezier(0.765, 0.010, 0.230, 0.995);
		-o-transition: all 500ms cubic-bezier(0.765, 0.010, 0.230, 0.995);
		transition: all 500ms cubic-bezier(0.765, 0.010, 0.230, 0.995);		
		-webkit-transition-timing-function: cubic-bezier(0.765, 0.010, 0.230, 0.995);
		-moz-transition-timing-function: cubic-bezier(0.765, 0.010, 0.230, 0.995);
		-o-transition-timing-function: cubic-bezier(0.765, 0.010, 0.230, 0.995);
		transition-timing-function: cubic-bezier(0.765, 0.010, 0.230, 0.995);
	}
	
	#menu .inner {
		vertical-align:top;
		opacity:0;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	
	#menu.is-active .inner {
		opacity:1;
		-webkit-transition: all 0.3s ease-in-out 0.3s;
		-moz-transition: all 0.3s ease-in-out 0.3s;
		-o-transition: opacity 0.3s ease-in-out 0.3s;
		transition: all 0.3s ease-in-out 0.3s;			
	}
	
	nav {
		float: none;
		left: 200px;
		top:100px;
		width: 280px;
		text-align:center;
	}

	nav, nav ul, nav ul li, nav ul li a {
		margin: 0;
		padding: 0;
		border: 0;
		list-style: none;
		display: block;
		position: relative;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	nav ul ul {
		display: none;
		margin-bottom: 20px;
	}
	
	nav > ul > li > a {
		padding: 2px 0px;
		cursor: pointer;
		color: #999;
		line-height:36px;
		font-weight: 400;
		font-size:28px;
		font-family: 'Playfair Display', serif;
		-webkit-transition: all 0.15s ease-in-out;
		-moz-transition: all 0.15s ease-in-out;
		-o-transition: all 0.15s ease-in-out;
		-ms-transition: all 0.15s ease-in-out;
		transition: all 0.15s ease-in-out;
	}
	
	nav > ul > li > a:hover,
	nav > ul > li.active > a,
	nav > ul > li.open > a {
		color: #000;
	}
	
	nav ul ul li a {
		cursor: pointer;
		padding: 10px 20px 2px;
		z-index: 1;
		text-decoration: none;
		font-size: 12px;
		color: #777;
		line-height:20px!important;
	}
	
	nav ul ul li:hover > a,
	nav ul ul li.open > a,
	nav ul ul li.active > a {
		color: #000;
	}
	
	nav ul ul ul li a {
		padding-left: 40px;
	}
	
	.nav-bottom {
		bottom: 40px;
		box-sizing: border-box;
		padding: 0 60px;
		position: absolute;
		width: 100%;
		opacity:0;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	.menu-footer {
		position:absolute;
		width:280px;
		bottom:0;
		text-align:center;
		padding-bottom:120px;
		left:200px;
	}
	
	.copyright {
		font-size: 12px;
		margin-top: 10px;
	}
	
	.socials {	
		margin-top:40px;
		margin-bottom:10px;
		display:block;
		width:auto;
		line-height:25px;
		margin-left:-10px;
	}
		
	.socials li {
		list-style:none;
		display:inline-block;
		margin-left: -4px;
	}
	
	.socials li:first-child {
		margin-left: 3px;
	}
	
	.socials-text li {
		margin-right: 10px;
		margin-left: 0px;
		color:#777;
		font-size:12px;
		position:relative;
	}
	
	.socials li a {
		color: #000;
		display: block;
		font-size: 16px;
		height: 16px;
		line-height: 10px;
		width:65px;
		text-align:center;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-o-transition: all 0.1s ease-in-out;
		-ms-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;
	}
	
	.socials li {
		border-right: 1px dotted rgba(0, 0, 0, 0.2);
	}
	
	.socials li:last-child {
		border-right: none;
		padding-right:0px;
	}
	
	.socials li a:hover {
		color:#000;
		-webkit-transform: scale(1.3);
		-moz-transform: scale(1.3);
		-o-transform: scale(1.3);
		-ms-transform: scale(1.3);
		transform: scale(1.3);
	}
	
	
/*--------------------------------------------------
	03. Page Styles
---------------------------------------------------*/	
	
	#page-content {
		width:100%;
		box-sizing:border-box;
		height:100%;
		padding-left:100px;
	}
	
	#hero {
		z-index:1;
	}
	
	#hero, #project_next {
		box-sizing:border-box;
		position:relative;
		background-color:#fff;
		height:100%;
		width:100%;
		overflow:hidden;
		-webkit-transition: opacity 0.3s ease-in-out;
		-moz-transition: opacity 0.3s ease-in-out;
		-o-transition: opacity 0.3s ease-in-out;
		-ms-transition: opacity 0.3s ease-in-out;
		transition: opacity 0.3s ease-in-out;
	}
	
	#hero.hidden {
		opacity:0;
	}
	
	#project_next {
		background-color:#000;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position:center center;
		background-repeat:no-repeat;
		right:0;
		width: calc(100% - 100px);
	}
	
	#hero-styles {
		height:100%;
		width:100%;
		position:absolute;
		-webkit-transition: all 0s ease-in-out;
		-moz-transition: all 0s ease-in-out;
		-o-transition: all 0s ease-in-out;
		-ms-transition: all 0s ease-in-out;
		transition: all 0s ease-in-out;
	}
	
	.hero-image {
		width:100%;
		height:inherit; 
		margin:0;
		padding:0;
		position:absolute;	
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position:center center;
		background-repeat:no-repeat;
	}
	
	.overlay {
		height:100%;
		width:100%;
		position:relative;
		background-color:rgba(0,0,0,0.7);
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	
	#main {
		z-index:0;
		position:relative;
		width:100%;
		box-sizing: border-box;
		opacity:1;
		background-color:#fff;
	}
	
	#main-content.hidden {
		opacity:0;
	}
	
	#main-content {		
		overflow:hidden;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	
	
/*--------------------------------------------------
	04. Portfolio
---------------------------------------------------*/	
	
	
	#page-left {
		width:50%;
		height:100%;
		box-sizing:border-box;
		padding-left:150px;
		padding-right:180px;
		float:left;
		position:relative;
		z-index:1;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	#page-left .inner {
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	#page-left.inactive .inner{
		-webkit-transform: scale(0.9);
		-moz-transform: scale(0.9);
		-o-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
		opacity:0;
	}
	
	#page-content:hover #page-left {
		opacity:1;
	}
	
	#page-right {
		width:50%;
		height:100%;
		box-sizing:border-box;
		float:right;
		right:0;
		position:absolute;
		z-index:2;
		background-size:cover;
		background-position:center;
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
	}
	
	#page-right.active {
		width:100%;
	}
	
	#page-right.portfolio {
		width: calc(100% - 100px);
	}
	
	#page-right.portfolio.inactive {
		-webkit-transform: translateX(calc(50% - 50px));
		-moz-transform: translateX(calc(50% - 50px));
		-o-transform: translateX(calc(50% - 50px));
		-ms-transform: translateX(calc(50% - 50px));
		transform: translateX(calc(50% - 50px));
	}
	
	#page-right.showcasae:hover {
		width: calc(50% + 50px);
	}

	.case-study-div {
		cursor: pointer;
		display: block;
		margin-top: 40px;
		position: relative;
		width: auto;
		-webkit-transition: all 0.3s ease-in-out 1.2s;
		-moz-transition: all 0.3s ease-in-out 1.2s;
		-o-transition: all 0.3s ease-in-out 1.2s;
		-ms-transition: all 0.3s ease-in-out 1.2s;
		transition: all 0.3s ease-in-out 1.2s;
	}
	
	.case-study {
		width:40px;
		height:40px;
		background-color:#000;
		border-radius:50px;
		background-image:url(images/dots.png);
		background-size:40px 40px;
		background-repeat:no-repeat;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		float:left;
	}
	
	.cs-text {
		color: #000;
		font-family: "Montserrat",sans-serif;
		font-size: 9px;
		font-weight: 400;
		line-height: 40px;
		padding-left: 45px;
		letter-spacing: 2px;
		text-transform:uppercase;
		opacity:0;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	.case-study-div:hover .cs-text {
		opacity:1;
		padding-left:55px;
	}
	
	.case-study-div:hover .case-study {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	
	
	.disable-showcase {
		position:absolute;
		width:100%;
		height:100%;
		z-index:10;
		display:none;
	}
	
	.disable-showcase.active {
		display:block;
	}
	
	.showcase-wrapper {
		margin: auto;
		position: relative;
		display:inline-block;
		padding: 0;
	}

	.showcase-wrapper li {
		list-style:none;
		font-size:60px;
		font-family: 'Playfair Display', serif;
		line-height:72px;
		margin-left:-3px;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	.showcase-wrapper:hover li {
		opacity:0.2;
	}
	
	.showcase-wrapper:hover li:hover {
		opacity:1;
		padding-left:15px;
	}
	
	
	.showcase-images {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin:0;
	}
	
	.showcase-images li {
		transition: none;
		-webkit-transition: none;
		-moz-transition: none;
		-o-transition: none;
		position: absolute;
		width: 100%;
		height: 100%;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position:center center;
		background-repeat:no-repeat;
		top: 0;
		left: 0;
		overflow: hidden;
		list-style:none;
		opacity:0;
		webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	.showcase-images li.show {
		opacity:1;
	}
	
	.inactive .scroll-disable {
		position:absolute;
		z-index:10;
		width:100%;
		height:100%;
		display:block;
	}
	
	.scroll-disable {
		display:none;
	}
	
	.text-carousel {
		width:100%;
		height:100px;
		position:relative;
		margin:0;
	}
	
	.text-carousel li {
		position: absolute;
		width: 100%;
		height: 100%;
		list-style:none;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position:center;
		background-repeat:no-repeat;
		margin:0;
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
	}
	
	.owl-theme .owl-controls {
		display:none;
	}
	
	.inactive .text-carousel li {
    	background-position: -500px center;
	}
	
	.item-overlay {
		position:absolute;
		height:100%;
		width:100%;
		box-sizing:border-box;
		padding-left:150px;
	}
	
	
	/* Portfolio Expander */

	
	#project-page-holder {
		height: 0px;
		overflow: hidden;
		position:relative;
		transition:opacity 0.3s ease 0s;
		-moz-transition:opacity 0.3s ease 0s;
    	-webkit-transition:opacity 0.3s ease 0s;
    	-o-transition:opacity 0.3s ease 0s;
	}
	
	#loader-line-box {
		opacity:0;
		height:40px;
		width:40px;
		top:40px;
		right:40px;
		z-index:150;
		position:absolute;
		transition:opacity 0.2s ease-in-out 0.2s;
		-moz-transition:opacity 0.2s ease-in-out 0.2s;
    	-webkit-transition:opacity 0.2s ease-in-out 0.2s;
    	-o-transition:opacity 0.2s ease-in-out 0.2s;
	}
	
	#loader-line-box.is-open {
		opacity:1;
		transition:opacity 0.2s ease-in-out 0.2s;
		-moz-transition:opacity 0.2s ease-in-out 0.2s;
    	-webkit-transition:opacity 0.2s ease-in-out 0.2s;
    	-o-transition:opacity 0.2s ease-in-out 0.2s;
	}
	
	#loader-line-box #loader {
		margin: 0px auto;
		font-size: 10px;
		position: relative;
		text-indent: -9999em;
		border-top: 6px solid rgba(255, 255, 255, 0.2);
		border-right: 6px solid rgba(255, 255, 255, 0.2);
		border-bottom: 6px solid rgba(255, 255, 255, 0.2);
		border-left: 6px solid #ffffff;
		-webkit-transform: translateZ(0);
		-ms-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-animation: load8 1.1s infinite linear;
		animation: load8 1.1s infinite linear;
	}	

	#loader-line-box #loader, #loader-line-box #loader:after {
	   border-radius: 50%;
	  width: 30px;
	  height: 30px;
	}
	
	@-webkit-keyframes load8 {
	  0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	  }
	  100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	  }
	}
	
	@keyframes load8 {
	  0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	  }
	  100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	  }
	}
	
	#project-page-data {
		height: 0;
		position: absolute;
		width: 100%;
		opacity:0;
		margin: 0px;
		padding:0;
		transition:opacity 0.3s ease 0s;
		-moz-transition:opacity 0.3s ease 0s;
    	-webkit-transition:opacity 0.3s ease 0s;
    	-o-transition:opacity 0.3s ease 0s;
	}
	
	#project-page-data.is-open {
		margin-top: 0;
		opacity: 1;
		transition:opacity 0.3s ease 0s;
		-moz-transition:opacity 0.3s ease 0s;
    	-webkit-transition:opacity 0.3s ease 0s;
    	-o-transition:opacity 0.3s ease 0s;
	}

	#project_close {
		background-color: #fff;
		border-top:1px solid #fff;
		display: block;
		height: 100px;
		left: 0;
		position: fixed;
		bottom: 0;
		width: 99px;
		z-index: 300;
		opacity:0.5;
		background-image:url(images/close.png);
		background-size:20px 20px;
		background-position:center center;
		background-repeat:no-repeat;
		webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	
	#project_close:hover {
		opacity:1;
		border-top:1px solid #eee;
	}
	
	#project_close.hide {
		opacity:0;
		background-size:30px 30px;
	}
		
	#close-title {
		font-family: "Montserrat",sans-serif;
		font-size: 10px;
		font-weight: 400;
		letter-spacing: 3px;
		color:#999;
		text-transform:uppercase;
		position: absolute;
		width:400px;
		text-align:center;
		top: 50%;
		left: 50%;
		webkit-transition: all 0.15s ease-in-out;
		-moz-transition: all 0.15s ease-in-out;
		-o-transition: all 0.15s ease-in-out;
		-ms-transition: all 0.15s ease-in-out;
		transition: all 0.15s ease-in-out;
		-moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
		-webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
		transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
	}
	
	#project_close:hover #close-title {
		color:#000;
	}
	
	#project_close.disabled #close-title {
		opacity:0;
	}
	
	.project-page {
		background-color:#FFF;
		width:100%;
		height:auto;
		transition:opacity 0.3s ease 0s;
		-moz-transition:opacity 0.3s ease 0s;
    	-webkit-transition:opacity 0.3s ease 0s;
    	-o-transition:opacity 0.3s ease 0s;
	}
	
	.list-share-container {
		background-color: #000;
		display: block;
		height: auto;
		position: relative;
		width: 100%;
		z-index: 1;
	}
	
	.list-share-container::after {
		clear: both;
		content: " ";
		display: table;
	}
	
	.list-share-text {
		width:20%;
		float:left;
		position:absolute;
		color: #fff;
		font-size:18px;
    	font-family: "Playfair Display",serif;
		line-height:160px;
		text-align:center;
	}
	
	.list-share {
		width:80%;
		margin-left:20%;
		position:relative;
	}
	
	.list-share a img {
		opacity:0!important;
	}
	
	.list-share a:nth-child(5), .list-share a:nth-child(6), .list-share a:nth-child(7), .list-share a:nth-child(8), .list-share a:nth-child(9) {
		display:none;
	}
	
	.list-share a  {
		background-color: transparent;
		border-left: 1px solid #222;
		box-sizing: border-box;
		display: block;
		float: left;
		height: 30px !important;
		margin: 0 !important;
		padding-bottom: 80px;
		padding-top: 80px;
		text-align: center;
		width: 25% !important;
	}
	
	.list-share a:hover {
		background-color:#151515;
	}
	
	.list-share a::before {
		font-family: FontAwesome;
		padding-right:0px;
		font-size:28px;
		color:#fff;
		position:absolute;
		margin-top:0px;
		line-height:10px;
		webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-o-transition: all 0.1s ease-in-out;
		-ms-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;
	}
	
	.list-share a:hover::before {
		-webkit-transform: scale(1.3);
		-moz-transform: scale(1.3);
		-o-transform: scale(1.3);
		-ms-transform: scale(1.3);
		transform: scale(1.3);
	}
	
	.list-share .synved-social-provider-facebook::before {
		content: "\f09a";
	}
	
	.list-share .synved-social-provider-twitter::before {
		content: "\f099";
	}
	
	.list-share .synved-social-provider-google_plus::before {
		content: "\f1a0";
	}
	
	.list-share .synved-social-provider-reddit::before {
		content: "\f1a1";
	}
	
	.list-share .synved-social-provider-pinterest::before {
		content: "\f0d2";
	}
	
	.list-share .synved-social-provider-linkedin::before {
		content: "\f0e1";
	}
	
	.list-share .synved-social-provider-tumblr::before {
		content: "\f173";
	}
	
	.list-share .synved-social-provider-mail::before {
		content: "\f0e0";
	}
	
	
	#project_next .overlay {
		text-align:center;
		position:absolute;
	}
	
	#project_next.disabled .overlay {
		opacity:0;
	}
	
	.project-link {
		display:inline-block;
		padding: 10px 50px;
		cursor:pointer;
		position:relative;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	#project_next.disabled .project-link {
		-webkit-transform: scale(0.9);
		-moz-transform: scale(0.9);
		-o-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	.project-link .np-name {
		color:#fff;
		opacity:1;
		font-size:60px;
		line-height:100px;
		font-weight: 400;
		font-family: 'Playfair Display', serif;
		webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
	
	.project-link:hover .np-name {
		opacity:0.1;
		-webkit-transform: scale(0.9);
		-moz-transform: scale(0.9);
		-o-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	}
	
	.np-view {
		color:#fff;
		font-family: "Montserrat",sans-serif;
		font-size: 10px;
		font-weight: 400;
		letter-spacing: 3px;
		text-transform:uppercase;
		position:absolute;
		line-height:130px;
		text-align:center;
		width:100%;
		top:0;
		left:0;
		opacity:0;
		webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	
	.project-link:hover .np-view {
		opacity:1;
		webkit-transition: all 0.5s ease-in-out 0.1s;
		-moz-transition: all 0.5s ease-in-out 0.1s;
		-o-transition: all 0.5s ease-in-out 0.1s;
		-ms-transition: all 0.5s ease-in-out 0.1s;
		transition: all 0.5s ease-in-out 0.1s;
	}
	
	
	
	
	
/*--------------------------------------------------
	05. Blog Slider
---------------------------------------------------*/	


	html.fp-enabled,
	.fp-enabled body {
		margin: 0;
		padding: 0;
		overflow:hidden;
	
		/*Avoid flicker on slides transitions for mobile phones #336 */
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
	
	#superContainer {
		height: 100%;
		position: relative;
	
		/* Touch detection for Windows 8 */
		-ms-touch-action: none;
	
		/* IE 11 on Windows Phone 8.1*/
		touch-action: none;
	}
	.fp-section {
		position: relative;
		-webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
		-moz-box-sizing: border-box; /* <=28 */
		box-sizing: border-box;
	}
	.fp-slide {
		float: left;
	}
	.fp-slide, .fp-slidesContainer {
		height: 100%;
		display: block;
	}
	.fp-slides {
		z-index:1;
		height: 100%;
		overflow: hidden;
		position: relative;
		-webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
		transition: all 0.3s ease-out;
	}
	.fp-section.fp-table, .fp-slide.fp-table {
		display: table;
		table-layout:fixed;
		width: 100%;
	}
	.fp-tableCell {
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		height: 100%;
	}
	.fp-slidesContainer {
		float: left;
		position: relative;
	}
	.fp-controlArrow {
		-webkit-user-select: none; /* webkit (safari, chrome) browsers */
		-moz-user-select: none; /* mozilla browsers */
		-khtml-user-select: none; /* webkit (konqueror) browsers */
		-ms-user-select: none; /* IE10+ */
		position: absolute;
		z-index: 4;
		top: 50%;
		cursor: pointer;
		width: 0;
		height: 0;
		border-style: solid;
		margin-top: -38px;
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
	.fp-controlArrow.fp-prev {
		left: 15px;
		width: 0;
		border-width: 38.5px 34px 38.5px 0;
		border-color: transparent #fff transparent transparent;
	}
	.fp-controlArrow.fp-next {
		right: 15px;
		border-width: 38.5px 0 38.5px 34px;
		border-color: transparent transparent transparent #fff;
	}
	.fp-scrollable {
		overflow: scroll;
	}
	.fp-notransition {
		-webkit-transition: none !important;
		transition: none !important;
	}
	#fp-nav {
		position: fixed;
		z-index: 100;
		margin-top: -32px;
		top: 50%;
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
	}
	#fp-nav.right {
		right: 17px;
	}
	#fp-nav.left {
		left: 35px;
	}
	.fp-slidesNav{
		position: absolute;
		z-index: 4;
		left: 50%;
		opacity: 1;
	}
	.fp-slidesNav.bottom {
		bottom: 17px;
	}
	.fp-slidesNav.top {
		top: 17px;
	}
	#fp-nav ul,
	.fp-slidesNav ul {
	  margin: 0;
	  padding: 0;
	}
	#fp-nav ul li,
	.fp-slidesNav ul li {
		display: block;
		width: 14px;
		height: 13px;
		margin: 7px;
		position:relative;
	}
	.fp-slidesNav ul li {
		display: inline-block;
	}
	#fp-nav ul li a,
	.fp-slidesNav ul li a {
		display: block;
		position: relative;
		z-index: 1;
		width: 100%;
		height: 100%;
		cursor: pointer;
		text-decoration: none;
	}
	#fp-nav ul li a.active span,
	.fp-slidesNav ul li a.active span,
	#fp-nav ul li:hover a.active span,
	.fp-slidesNav ul li:hover a.active span{
		height: 8px;
		width: 8px;
		margin: -4px 0 0 -4px;
		border-radius: 100%;
	 }
	#fp-nav ul li a span,
	.fp-slidesNav ul li a span {
		border-radius: 50%;
		position: absolute;
		z-index: 1;
		height: 4px;
		width: 4px;
		border: 0;
		background: #333;
		left: 50%;
		top: 50%;
		margin: -2px 0 0 -2px;
		-webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-o-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;
	}
	#fp-nav ul li:hover a span,
	.fp-slidesNav ul li:hover a span{
		width: 8px;
		height: 8px;
		margin: -4px 0px 0px -4px;
	}
	#fp-nav ul li .fp-tooltip {
		position: absolute;
		top: -2px;
		color: #fff;
		font-size: 14px;
		font-family: arial, helvetica, sans-serif;
		white-space: nowrap;
		max-width: 220px;
		overflow: hidden;
		display: block;
		opacity: 0;
		width: 0;
		cursor: pointer;
	}
	#fp-nav ul li:hover .fp-tooltip,
	#fp-nav.fp-show-active a.active + .fp-tooltip {
		-webkit-transition: opacity 0.2s ease-in;
		transition: opacity 0.2s ease-in;
		width: auto;
		opacity: 1;
	}
	#fp-nav ul li .fp-tooltip.right {
		right: 20px;
	}
	#fp-nav ul li .fp-tooltip.left {
		left: 20px;
	}
	.fp-auto-height.fp-section,
	.fp-auto-height .fp-slide,
	.fp-auto-height .fp-tableCell{
		height: auto !important;
	}


/*--------------------------------------------------
	06. Blog Styles
---------------------------------------------------*/	

	.blog #header-title-div {
		display:none;
	}
	
	#blog-slider {
		-webkit-transition: all 0.7s ease-in-out 0.3s!important;
		-moz-transition: all 0.7s ease-in-out 0.3s!important;
		-o-transition: all 0.7s ease-in-out 0.3s!important;
		-ms-transition: all 0.7s ease-in-out 0.3s!important;
		transition: all 0.7s ease-in-out 0.3s!important;
		background-color:#fff;
	}
	
	#blog-slider.expanded {
		-webkit-transition: all 0s ease-in-out 0s!important;
		-moz-transition: all 0s ease-in-out 0s!important;
		-o-transition: all 0s ease-in-out 0s!important;
		-ms-transition: all 0s ease-in-out 0s!important;
		transition: all 0s ease-in-out 0s!important;
	}
	
	#blog-slider .section {
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	
	#blog-slider .bg-black.section.active  {
		background-color:#222;
		webkit-transition: all 0.4s ease-in-out 0.75s;
		-moz-transition: all 0.4s ease-in-out 0.75s;
		-o-transition: all 0.4s ease-in-out 0.75s;
		-ms-transition: all 0.4s ease-in-out 0.75s;
		transition: all 0.4s ease-in-out 0.75s;
	}

	.blog-left {
		background-color:transparent;
		height:100%;
		width:50%;
		position:relative;
		float:left;
		display: table;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	.blog-left.inactive {
		opacity:0;
		-webkit-transform: scale(0.9);
		-moz-transform: scale(0.9);
		-o-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
	}
	
	.blog-content {
		box-sizing: border-box;
		display: table-cell;
		vertical-align: middle;
		padding:0 150px;
		opacity:0;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	article.active .blog-content {
		opacity:1;
		-webkit-transition: all 0.4s ease-in-out 0.7s;
		-moz-transition: all 0.4s ease-in-out 0.7s;
		-o-transition: all 0.4s ease-in-out 0.7s;
		-ms-transition: all 0.4s ease-in-out 0.7s;
		transition: all 0.4s ease-in-out 0.7s;
	}
	
	.open-post {
		display:block;
	}
	
	.blog-title {
		font-size:60px;
		line-height:72px;
		font-family: "Playfair Display",serif;
		margin-left:-2px;
		color:#000;
		word-wrap: break-word;
	}
	
	.post-categories {
		margin:0 0 15px;
		display:block;
		-webkit-transition: all 0.2s ease-in-out 0.5s;
		-moz-transition: all 0.2s ease-in-out 0.5s;
		-o-transition: all 0.2s ease-in-out 0.5s;
		-ms-transition: all 0.2s ease-in-out 0.5s;
		transition: all 0.2s ease-in-out 0.5s;
		position:relative;
	}
	
	.post-categories li {
		display:inline-block;
		margin:0px;
		margin-right:5px;
		position:relative;
	}
	
	.post-categories li:after {
		content: ",";
		margin-left:1px;
		color:#999;
	}
	
	.post-categories li:last-child:after {
		content: "";
	}
	
	.post-categories li a {
		font-family: "Montserrat",sans-serif;
		font-size: 10px;
		font-weight: 400;
		letter-spacing: 2px;
		text-transform: uppercase;
		color:#999;
		webkit-transition: all  0.3s ease-in-out;
		-moz-transition: all  0.3s ease-in-out;
		-o-transition: all  0.3s ease-in-out;
		-ms-transition: all  0.3s ease-in-out;
		transition: all  0.3s ease-in-out;
	}
	
	.post-categories li a:after {
		background-color: #999;
		content: "";
		height: 2px;
		left: 0px;
		position: absolute;
		top: 25px;
		width: 0;
		border-radius:10px;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	.post-categories li a:hover {
		color:#000;
	}
	
	.post-categories li a:hover:after {
		width:90%;
		width: calc(100% - 5px);
		background-color:#000;
	}
	
	.post-categories li:last-child a:hover:after {
		width:96%;
		width: calc(100% - 2px);
	}
	
	.read-more-div {
		cursor: pointer;
		display: block;
		margin-top: 40px;
		position: relative;
		width: auto;
		-webkit-transition: all 0.3s ease-in-out 1.2s;
		-moz-transition: all 0.3s ease-in-out 1.2s;
		-o-transition: all 0.3s ease-in-out 1.2s;
		-ms-transition: all 0.3s ease-in-out 1.2s;
		transition: all 0.3s ease-in-out 1.2s;
	}
	
	.read-more {
		width:40px;
		height:40px;
		background-color:#000;
		border-radius:50px;
		background-image:url(images/dots.png);
		background-size:40px 40px;
		background-repeat:no-repeat;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		float:left;
	}
	
	.rm-text {
		color: #000;
		font-family: "Montserrat",sans-serif;
		font-size: 9px;
		font-weight: 400;
		line-height: 40px;
		padding-left: 45px;
		letter-spacing: 2px;
		text-transform:uppercase;
		opacity:0;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	.open-post:hover .rm-text {
		opacity:1;
		padding-left:55px;
	}
	
	.open-post:hover .read-more {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	
	.blog-right {
		height:100%;
		width:50%;
		position:absolute;
		right:0;
		box-sizing:border-box;
		border:70px solid transparent;
		overflow:hidden;
		-webkit-transition: all 0.4s ease-in-out, border-width 0.3s ease-in-out;
		-moz-transition: all 0.4s ease-in-out, border-width 0.3s ease-in-out;
		-ms-transition: all 0.4s ease-in-out, border-width 0.3s ease-in-out;
		transition: all 0.4s ease-in-out, border-width 0.3s ease-in-out;
	}
	
	#blog-slider.expanded article.active .blog-right {
		-webkit-transition: all 0.4s ease-in-out, border-width 0.3s ease-in-out;
		-moz-transition: all 0.4s ease-in-out, border-width 0.3s ease-in-out;
		-ms-transition: all 0.4s ease-in-out, border-width 0.3s ease-in-out;
		transition: all 0s ease-in-out, border-width 0s ease-in-out 0s;
	}
	
	.blog-right.active {
		width:100%;
	}
	
	article.active .blog-right {
		border:0px solid #fff;
		background-color:#f5f5f5;
		-webkit-transition: all 0.4s ease-in-out, border-width 0.3s ease-in-out 1s;
		-moz-transition: all 0.4s ease-in-out, border-width 0.3s ease-in-out 1s;
		-ms-transition: all 0.4s ease-in-out, border-width 0.3s ease-in-out 1s;
		transition: all 0.4s ease-in-out, border-width 0.3s ease-in-out 1s;
	}

	.post-image {
		width:100%;
		height:100%;
		position:absolute;
		background-size:cover;
		background-position:center center;
		background-repeat:no-repeat;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	.blog-right.hover .post-image {
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
	
	#blog-nav {
		display: block;
		height: 200px;
		margin: 0;
		position: relative;
		width: 100%;
	}
	
	#blog-slider #blog-nav:after {
		background-color: #fff;
		content: "";
		height: 0px;
		left: 50%;
		position: absolute;
		top: 0;
		width: 1px;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	#blog-slider .section.bg-black.active #blog-nav:after {
		height: 200px;		
		-webkit-transition: all 0.2s ease-in-out 1.2s;
		-moz-transition: all 0.2s ease-in-out 1.2s;
		-o-transition: all 0.2s ease-in-out 1.2s;
		-ms-transition: all 0.2s ease-in-out 1.2s;
		transition: all 0.2s ease-in-out 1.2s;
	}
	
	#blog-nav li {
		list-style:none;
		display:block;
		float:left;
		width:50%;
		height:200px;
		line-height:200px;
		box-sizing:border-box;
		text-align:center;
		margin:0;
		position:relative;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	#blog-nav li:last-child {
		border-right:none;
	}
	
	#blog-nav li {
		font-size:36px;
		color:#bdbdbd;
		font-family: "Playfair Display",serif;
	}
	
	#blog-nav li a {
		font-size:36px;
		color:#fff;
		opacity:0.7;
		left:0;		
		position:absolute;
		height:100%;
		width:100%;
		font-family: "Playfair Display",serif;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	#blog-nav li a::after {
		background-image:url(images/icon-arrow.png);
		background-size: 13px 8px;
		content: "→";
		display: inline-block;
		margin: 0 auto;
		text-indent: -9999px;
		width: 13px;
		opacity:0;
		background-position: center center;
    	background-repeat: no-repeat;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	#blog-nav li a:hover {
		margin-left:-30px;
		opacity:1;
	}
	
	#blog-nav li a:hover::after {
		-webkit-transform: translateX(60px);
		-moz-transform: translateX(60px);
		-o-transform: translateX(60px);
		-ms-transform: translateX(60px);
		transform: translateX(60px);
		opacity:1;
	}
	
	
	
	#blog-slider #blog-nav li.prev-posts {
		-webkit-transform: translateX(-60px);
		-moz-transform: translateX(-60px);
		-o-transform: translateX(-60px);
		-ms-transform: translateX(-60px);
		transform: translateX(-60px);
		opacity:0;	
	}
	
	#blog-slider #blog-nav li.next-posts {
		-webkit-transform: translateX(60px);
		-moz-transform: translateX(60px);
		-o-transform: translateX(60px);
		-ms-transform: translateX(60px);
		transform: translateX(60px);
		opacity:0;	
	}
	
	#blog-slider .section.bg-black.active #blog-nav li {
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		-o-transform: translateX(0px);
		-ms-transform: translateX(0px);
		transform: translateX(0px);
		opacity:1;		
		-webkit-transition: all 0.2s ease-in-out 1.2s;
		-moz-transition: all 0.2s ease-in-out 1.2s;
		-o-transition: all 0.2s ease-in-out 1.2s;
		-ms-transition: all 0.2s ease-in-out 1.2s;
		transition: all 0.2s ease-in-out 1.2s;
	}
	
	
	
	.post-content {
		position:relative;
		background-color:#fff;
		z-index:10;
		overflow:hidden;
	}
	
	.post-head {
		padding:120px 0 60px;
	}
	
	.post-head .blog-title {
		font-size: 48px;
		line-height: 54px;
		margin-left: -1px;
		word-wrap: break-word;
	}
	
	/* Article Meta */	
	
	.article-meta {
		width:100%;
		height:auto;
		background:#000;
	}
	
	.article-meta .entry-meta li, .article-meta .entry-meta li a {
		color:#999;
	}
	
	.article-meta .entry-meta li a:hover {
		color:#fff;
	}
	
	.article-meta::after {
		clear: both;
		content: " ";
		display: table;
	}
	
	.article-meta .inner {
		padding: 0 50px;
	}
	
	.article-date {
		width:25%;
		float:left;
		box-sizing:border-box;
		height:auto;
		position:relative;
	}
	
	.article-tags {
		width:50%;
		float:left;
		box-sizing:border-box;
		border-left:1px solid #333;
		border-right:1px solid #333;
		height:auto;
	}
	
	.article-comments {
		width:25%;
		float:left;
		box-sizing:border-box;
		height:auto;
	}
	
	.entry-meta {
		margin:0;
		display:block;
		margin:50px 0;
		opacity:1;
		-webkit-transition: all 0.2s ease-in-out 0.5s;
		-moz-transition: all 0.2s ease-in-out 0.5s;
		-o-transition: all 0.2s ease-in-out 0.5s;
		-ms-transition: all 0.2s ease-in-out 0.5s;
		transition: all 0.2s ease-in-out 0.5s;
	}
	
	.entry-meta li {
		display:inline-block;
		margin-left:15px;
		font-size:10px;
		font-family: "Montserrat",sans-serif;
    	font-weight: 400;
		text-transform:uppercase;
		letter-spacing: 2px;
		margin-bottom:0;
	}
	
	.entry-meta li a {
		color:#777;
	}
	
	.entry-meta li a:hover {
		color:#000;
	}
	
	.entry-date:before {
		font-family: FontAwesome;
		content: "\f017";
		padding-right:5px;
		font-size:16px;
		color:#fff;
		position:absolute;
		margin-top:0px;
		margin-left:-25px;
	}
	
	.entry-comments:before {
		font-family: FontAwesome;
		content: "\f075";
		padding-right:5px;
		font-size:16px;
		color:#fff;
		position:absolute;
		margin-top:0px;
		margin-left:-25px;
	}
	
	.entry-tags {
		margin-right: 0px !important;
		margin-left: 0px!important;
	}
	
	.entry-tags:first-child {
		margin-left: 15px
	}
	
	.entry-tags {
		
	}
	
	.entry-tags:last-child::after {
		content: "";
	}
	
	.entry-tags::after {
		content: ",";
		padding-right: 0;
		color:#999;
	}
	
	.entry-tags:first-child::before {
		content: "\f02b";
		font-family: FontAwesome;
		padding-right: 5px;
		font-size:18px;
		color:#fff;
		position:absolute;
		margin-top:2px;
		margin-left:-25px;
	}
	
	
	/* Article Discussion */	

	.article-discussion {
		padding:120px 0 80px;		
		background-color:#f9f9f9;
	}
	
	.article-discussion-container {
		margin:0 auto;
		width:800px;
	}
	
	.article-discussion h3 {
		margin-bottom: 100px;
	}
	
	.user_comment {
		color: #000;
		margin-bottom: 40px;
		padding-left: 80px;
		position:relative;
	}
	
	.user-image {
		border-radius: 100%;
		height: 60px;
		overflow: hidden;
		width: 60px;
		position:absolute;
		left:0px;
	}
	
	.user-image img {
		width:100%;
		height:auto;
	}
	
	.comment-name {
		margin-bottom:0px
	}
	
	.comment-date {
		color: #999;
		font-size:12px;
		margin-bottom: 10px;
	}
	
	.comment-text {
		color: #777777;
		margin-bottom:5px;
	}
	
	.user_comment_reply {
		position:relative;
		color: #000;
		padding-left: 80px;
		margin-top: 40px;
		display:block;
	}
	
	.reply {
		display: block;
		line-height: 15px;
		margin-top: 15px;
		font-size: 14px;
		font-weight: 700;
		color:#222;
		opacity:1;
		display:inline-block;
	}
	
	.reply:hover {
		color:#000;
	}
	
	.add-comment {
		width:100%;
		height:auto;
		background:#f5f5f5;
	}
	
	.add-comment .toggle-comments {
		padding:50px 0;
		width:100%;
		display:block;
		font-size: 24px;
		line-height: 30px;
		margin-left: -1px;
		color:#ddd;
		font-family: "Montserrat",sans-serif;
    	font-weight: 700;
	}
	
	.add-comment .toggle-comments:hover {
		color:#000;
	}
	
	.add-comment .caption-content {
		padding:0;
	}
	
	.article-formular {
		background: #fff none repeat scroll 0 0;
		display: block;
		float: left;
		padding: 120px 0;
		position: relative;
		width: 100%;
	}
	
	.article-formular-container {
		margin:0 auto;
		width:800px;
		position:relative;
		text-align:center;
	}
	
	
	#commentsform {
		float: left;
		margin-bottom: 50px;
		margin-top:100px;
		position: relative;
		width: 100%;
	}
	
	#commentsform textarea {
		margin-bottom:50px;
	}
	
	input#search {
		background-color: transparent;
		border-bottom: 2px solid #000;
		border-radius: 0;
		color: #999;
		font-family: "Open Sans",sans-serif;
		font-size: 15px;
		font-weight: 400;
		height: 60px;
		margin-bottom: 30px;
		padding: 12px 20px;
		position: relative;
		text-align: center;
		width: 240px;
	}
	
	input#search:focus {
		color:#000;
	}
	
	.article-formular .input_label {
		background:#fff;
	}
	
	.article-formular input[type="text"], .article-formular textarea {
		border-color:#bbb;
	}
	
	
	input[type="text"], input[type="email"], input[type="password"], input[type="url"], input[type="tel"], textarea {
		color: #777;
		font-size: 15px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		height: 60px;
		padding: 12px 20px;
		width: 100%;
		border-radius:0px;
		margin-bottom:0px;
		border-radius:3px;
		border:none;
		transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		box-sizing: border-box;
		background-color:#eee;
		outline:none;
	}
	
	input[type="submit"] {
		background-color: #000;
		border: medium none;
		border-radius: 3px;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		font-family: "Montserrat",sans-serif;
		font-size: 10px;
		letter-spacing: 2px;
		line-height: 12px;
		padding: 20px 30px;
		text-align: center;
		text-transform: uppercase;
		transition: all 0.3s ease 0s;
	}
	
	input[type="submit"]:hover, input[type="submit"]:focus {
		background-color: #333;
		color: #fff;
	}
	
	textarea {
		resize:none;
		margin-bottom:0;
		height:140px;
	}
	
	.comments-navigation .alignleft, .comments-navigation .alignright {
		display: block;
		float: none;
		margin-bottom: 30px;
	}
	
	
	
	/* Wordpress blog styles */	
	
	
	.post.sticky {
		background-color: #f5f5f5;
	}
	
	.single-post .clapat-caption {
		table-layout:fixed;
	}
	
	.post-title, .post-title-no-link {
		-ms-word-wrap: break-word;
		word-wrap: break-word;
		overflow-wrap: break-word;
	}

	.alignleft {
		display: inline;
		float: left;
	}
	
	.alignright {
		display: inline;
		float: right;
	}
	
	.aligncenter {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	
	blockquote.alignleft, .wp-caption.alignleft, img.alignleft {
		margin: 0.4em 1.6em 1.6em 0;
	}
	
	blockquote.alignright, .wp-caption.alignright, img.alignright {
		margin: 0.4em 0 1.6em 1.6em;
	}
	
	blockquote.aligncenter, .wp-caption.aligncenter, img.aligncenter {
		clear: both;
		margin-top: 0.4em;
		margin-bottom: 1.6em;
	}
	
	.wp-caption.alignleft, .wp-caption.alignright, .wp-caption.aligncenter {
		margin-bottom: 1.2em;
	}
	
	.single-post #project_next {
    	background-color: #fff;
	}
	
	#blog-slider .search_results {
		padding:100px;
	}
	
	/* Wordpress New Styles */
	
	.bottom-post {
		margin:0 auto;
		padding:100px 20px;
		text-align:center;
	}
	
	.post-comments-textarea.comment_area_loggedin {
		position:relative;
	}
	
	input[type="submit"] {
		color:#fff;
		font-family: "Montserrat",sans-serif;
		font-size: 10px;
		font-weight: 400;
		letter-spacing: 2px;
		text-transform:uppercase;
		padding:20px 40px;
		line-height:12px;
		cursor:pointer;
		border:none;
		transition:all 0.3s ease 0s;
		-moz-transition:all 0.3s ease 0s;
    	-webkit-transition:all 0.3s ease 0s;
    	-o-transition:all 0.3s ease 0s;
		text-align:center;
		background-color:rgba(0,0,0,0.8);
		display:inline-block;
		border-radius:2px;
	}
	
	input[type="submit"]:hover, input[type="submit"]:focus {
		background-color:rgba(0,0,0,1);
		color:#fff;
	}

	.bypostauthor > article .fn:before {
		content: "";
		margin: 0 2px 0 -2px;
		position: relative;
	}
	
	.wp-caption {
		margin-bottom: 1.6em;
		max-width: 100%;
	}
	
	.screen-reader-text {
		display:none;
	}
	
	.wp-caption-text {
		font-family: "Montserrat",sans-serif;
		font-size: 10px;
		font-weight: 400;
		letter-spacing: 1px;
		text-transform: uppercase;
		color:#999;
	}
	
	.post-password-form label {
		color: #333;
		display: block;
		line-height: 1.5;
	}
	.page-links a, .page-links > span {
		margin: 0 0.25em 0.25em 0;
	}
	
	.page-links a {
		background-color: #000;
		border-color: #000;
		color: #fff;
	}
	
	
	article .page-links p {
		font-size:0;
		margin-top:20px;
	}
	
	.page-links a, .page-links > span {
		border: 1px solid rgba(51, 51, 51, 0.1);
		display: inline-block;
		font-size: 14px;
		height: 2em;
		line-height: 2;
		margin: 0 5px;
		text-align: center;
		width: 2em;
		border-radius:1px;
		margin-bottom:100px;
	}
	
	.form-submit {
		display: inline-block;
		margin-bottom: 50px;
		position: relative;
		width: 100%;
	}
	
	.gallery {
		margin-bottom: 1.6em;
	}
	
	.gallery-item {
		display: inline-block;
		padding: 1.79104477%;
		text-align: center;
		vertical-align: top;
		width: 100%;
	}
	
	.gallery-columns-2 .gallery-item {
		max-width: 50%;
	}
	
	.gallery-columns-3 .gallery-item {
		max-width: 33.33%;
	}
	
	.gallery-columns-4 .gallery-item {
		max-width: 25%;
	}
	
	.gallery-columns-5 .gallery-item {
		max-width: 20%;
	}
	
	.gallery-columns-6 .gallery-item {
		max-width: 16.66%;
	}
	
	.gallery-columns-7 .gallery-item {
		max-width: 14.28%;
	}
	.gallery-columns-8 .gallery-item {
		max-width: 12.5%;
	}
	
	.gallery-columns-9 .gallery-item {
		max-width: 11.11%;
	}
	
	.gallery-icon img {
		margin: 0 auto;
	}
	
	.gallery-caption {
		color: #707070;
		color: rgba(51, 51, 51, 0.7);
		display: block;
		font-family: "Noto Sans", sans-serif;
		font-size: 12px;
		font-size: 1.2rem;
		line-height: 1.5;
		padding: 0.5em 0;
	}
	
	.gallery-columns-6 .gallery-caption, .gallery-columns-7 .gallery-caption, .gallery-columns-8 .gallery-caption, .gallery-columns-9 .gallery-caption {
		display: none;

	}
	
	.container_post, .page-links {
		width:800px;
		box-sizing:border-box;
		margin:0 auto;
	}
	
	.container_post {
		padding: 0 0 100px;
	}
	
	.single-post #hero {
    	background-color: #f5f5f5;
	}
	
	.archive #fp-nav, .category #fp-nav, .search #fp-nav, search-results #fp-nav{
		display:none;
	}
	
	
	
/*--------------------------------------------------
	07. Contact Styles
---------------------------------------------------*/		
	
	#map_canvas {
		display: block;
		height: 100%;
		width: 100%;
		z-index: 0;
		z-index:10;
	}
	
	.map-shortcode #map_canvas {
		height:600px;
		margin-bottom:-40px;
	}
	
	.map-header {
		width:100%;
		height:200px;
		position:absolute;
	}
	
	#map_cover {
		display:block;
		width:100%;
		height:100%;
		position:absolute;
		z-index:15;
		 -webkit-transition: all 0.3s ease-in-out 0.15s;
		-moz-transition: all 0.3s ease-in-out 0.15s;
		-o-transition: opacity 0.3s ease-in-out 0.15s;
		transition: all 0.3s ease-in-out 0.15s;
	}
	
	#hero:hover #map_cover {
		visibility:hidden;
		opacity:0;
		 -webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: opacity 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	
	#map_canvas img {
		max-width:inherit !important;
	}
	
	.gmnoprint a, .gmnoprint span, .gm-style-cc {
		display:none;
	}
	
	.gmnoprint div {
		background:none !important;
	}
	
	#contact-formular {
		margin:0 auto;
	}
	
	.contact-info {
		width:1000px;
		margin:0 auto;
	}
	
	#contact-formular::after {
		clear: both;
		content: " ";
		display: table;
	}
	
	#contact-formular textarea {
		margin-bottom:40px;
	}
	
	input[type="submit"]	{
		margin:50px 0 0;
	}	
	
	
	
/*--------------------------------------------------
	08. Shortcodes
---------------------------------------------------*/	
	
	/* Buttons */	
	
	.clapat-button {
		color:#fff;
		font-family: "Montserrat",sans-serif;
		font-size: 10px;
		font-weight: 400;
		letter-spacing: 1px;
		text-transform:uppercase;
		padding:20px 40px;
		line-height:12px;
		cursor:pointer;
		border:none;
		transition:all 0.3s ease 0s;
		-moz-transition:all 0.3s ease 0s;
    	-webkit-transition:all 0.3s ease 0s;
    	-o-transition:all 0.3s ease 0s;
		text-align:center;
		background-color:#333;
		display:inline-block;
		border-radius:3px;
	}
	
	.clapat-button-full {
		font-weight: 700;
		font-family: 'Montserrat', sans-serif;
		font-size:24px;
		width:100%;
		box-sizing:border-box;
		padding:60px 20px;
		background-color:#222;
		color:#444;
		display:block;
	}
	
	.clapat-button-full:hover {
		color:#fff;
		background-color:#000;
	}
	
	.clapat-button:hover, .clapat-button:active, .clapat-button:focus {
		background-color:#000;
		color:#fff;
	}
	
	.clapat-button.outline-button {
		color:#000;
		padding:18px 38px;
		background-color:transparent;
		border:#000 2px solid;
	}
	
	.clapat-button.outline-button:hover, .clapat-button.outline-button:active, .clapat-button.outline-button:focus {
		border:#000 2px solid;
		color:#fff;
		background-color:#000;
	}
	
	.light-content .clapat-button {
		color:#000;
		background-color:rgba(255,255,255,1)
	}
	
	.light-content .clapat-button:hover, .light-content .clapat-button:active, .light-content .clapat-button:focus {
		color:#000;
		background-color:rgba(255,255,255,0.8)
	}
	
	.light-content .clapat-button.outline-button {
		color:#fff;
		border:#fff 2px solid;
	}
	
	.light-content .clapat-button.outline-button:hover, .light-content .clapat-button.outline-button:active, .light-content .clapat-button.outline-button:focus {
		border:#fff 2px solid;
		color:#000;
		background-color:#fff;
	}
	
	.space-buttons {
		display: inline-block;
		height: 0px;
		width: 20px;
	}
	
	/* Animated module */
	
	.animated-module span, .animated-module p{
		transition:all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		-moz-transition:all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    	-webkit-transition:all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    	-o-transition:all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}
	
	.animated-module p {
		opacity:0;
		color:#777;
		-ms-transform: translateY(40px);
		-webkit-transform: translateY(40px);
		-o-transition:translateY(40px);
		transform: translateY(40px);
	}
	
	.animated-module:hover p {
		opacity:1;
		-ms-transform: translateY(0px);
		-webkit-transform: translateY(0px);
		-o-transition:translateY(0px);
		transform: translateY(0px);
	}
	
	.animated-module span {
		-ms-transform: translateY(0px);
		-webkit-transform: translateY(0px);
		-o-transition:translateY(0px);
		transform: translateY(0px);
		display:block;
		color:#999;
		font-weight: 400;
		font-size:18px;
		font-family: 'Playfair Display', serif;
	}
	
	.light-content .animated-module span {
		color:#999;
	}
	
	.animated-module:hover span {
		-ms-transform: translateY(-10px);
		-webkit-transform: translateY(-10px);
		-o-transition:translateY(-10px);
		transform: translateY(-10px);
		color:#000;
	}
	
	.light-content .animated-module:hover span {
		color:#fff;
	}
	
/* More Link */

	.more {
		font-family: "Montserrat",sans-serif;
		font-size: 10px;
		font-weight: 400;
		letter-spacing: 4px;
		text-transform: uppercase;
		color:#999;
	}
	
	.more:hover {
		color: #000;
	}
	
	.icon:before { 
	  display: inline-block;
	  content: ' ';
	  background-image: url('images/arrow-right.svg');
	  background-size: 30px 20px;
	  height: 19px;
	  width: 30px;
	  vertical-align: middle;
	}
	
	a.more > span.icon {
	  float: none;
	  margin: 0.1em 0.3em -0.1em 0;
	  font-size: 19px;
	  padding-left: 0px;
	  opacity: 0;
	  -webkit-transition: all 0.2s ease-in-out;
	  -moz-transition: all 0.2s ease-in-out;
	  -o-transition: all 0.2s ease-in-out;
	  transition: all 0.2s ease-in-out;
	
	}
	
	a.more:hover > span.icon {
	  float: none;
	  margin: 0.1em -0.1em -0.1em 0;
	  opacity: 1;
	  padding-left: 15px;
	  -webkit-transition: all 0.2s ease-in-out;
	  -moz-transition: all 0.2s ease-in-out;
	  -o-transition: all 0.2s ease-in-out;
	  transition: all 0.2s ease-in-out;
	}
	
	
/* Progress Bars */	
	
	.progress-bar {
		text-align: left!important;
		margin: 0px!important;	
	}
	
	ul.progress-bar {
		margin:0;
	}
	
	.progress-bar li {
		list-style: none!important;
		cursor:pointer;
	}
	
	.progress-bar li i {
		margin:0;
	}
	
	.progress-bar li:last-child span {
		margin-bottom: 0px;
	}
	
	.progress-bar li .bar-wrap {
		margin-bottom:22px;
		background-color: #fff;
		border-radius:10px;
	}
	
	.progress-bar li span { 
		height: 4px;
		width: 0px;
		display: block;
		background-color: #000;
		border-radius:10px;
		transition:background-color 0.2s ease 0s;
		-moz-transition:background-color 0.2s ease 0s;
    	-webkit-transition:background-color 0.2s ease 0s;
    	-o-transition:background-color 0.2s ease 0s;
	}
	
	.progress-bar li p {
		margin-bottom:5px;
		font-weight:400;
		font-size:14px;
		color:#777;
	}
	
	.progress-bar li span {
		overflow: visible!important;
		position: relative;
	}
	
	.progress-bar li span strong {
		position: absolute;
		right: -0px;
		top: -25px;
		padding: 4px 0px;
		color: #777;
		line-height: 12px;
		font-size: 12px;
		opacity: 0;
		display: block;
		font-weight:400;
	}
	
	.progress-bar li span strong i {
		font-style:normal;
	}	
	
	.progress-bar li span strong.full:after {
		left: 15px;
	}
	
	.progress-bar li span strong.full {
		width: 43px;
		text-align: center;
	}
	
	
	
/* Service Icon Boxes */	
	
	.services-icon i {
		font-size:36px;
		float:left;
		margin-right:10px;
		margin-top:5px;
		color:#999;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		transition:all 0.2s ease 0s;
		-moz-transition:all 0.2s ease 0s;
    	-webkit-transition:all 0.2s ease 0s;
    	-o-transition:all 0.2s ease 0s;
	}
	
	.services-icon:hover i {
		color:#000;
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
	
	.service-info-text {
		margin-left:60px;
		margin-bottom: 50px;
	}
	
	.service-info-text h5 {
		margin-bottom: 5px;
		padding-top: 10px;
	}
	
	.services-number .service-info-text {
		margin-left:0px;
		margin-top:20px;
		position:relative;
		z-index:1;
	}
	
	.services-number .number {
		color:rgba(0,0,0,0.05);
		font-size:100px;
		position:absolute;
		top:0;
		left:-2px;
		z-index:0;
		transition:all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		-moz-transition:all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    	-webkit-transition:all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    	-o-transition:all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}
	
	.services-number:hover .number {
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-o-transform: scale(1.2);
		-ms-transform: scale(1.2);
		transform: scale(1.2);
	}
	

/* Service Icon top Boxes */
	
	.service-icon-top i {
		font-size:18px;
		line-height:24px;
		margin-bottom:15px;
		color:#999;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		transition:all 0.2s ease 0s;
		-moz-transition:all 0.2s ease 0s;
    	-webkit-transition:all 0.2s ease 0s;
    	-o-transition:all 0.2s ease 0s;
	}
	
	.service-icon-top:hover i {
		color:#000;
		-webkit-transform: scale(1.3);
		-moz-transform: scale(1.3);
		-o-transform: scale(1.3);
		-ms-transform: scale(1.3);
		transform: scale(1.3);
	}
	
	.service-info-text {
		margin-left:60px;
		margin-bottom: 50px;
	}
	
	.service-info-text .bigger {
		margin-bottom: 5px;
		padding-top: 5px;
	}
	
	
	/*  Accordions  */	

	.accordion dt {
		cursor: pointer;
		padding: 10px 15px;
		margin-bottom:10px;
		background-color:#f5f5f5;		
		transition:all 0.2s ease 0s;
		-moz-transition:all 0.2s ease 0s;
    	-webkit-transition:all 0.2s ease 0s;
    	-o-transition:all 0.2s ease 0s;
	}
	
	.accordion dt.accordion-active {
		background-color:#000;
		color:#fff;
	}
	
	.accordion dt:hover {
		background-color:#000;
		color:#fff;
	}
	
	.accordion dt {
		font-weight:700;
		font-size:14px;
	}
	
	.accordion dt.accordion-active:after {
		content:"_";
		margin-top:-10px;
	}
	
	.accordion dt:after {
		content:"+";
		float:right;
		font-family:Arial, Helvetica, sans-serif;
		font-size:17px;
		font-weight:bold;
		margin-top:-3px;
	}
	
	.accordion .accordion-content {
		padding: 5px 15px;
		line-height: 25px;
	}
	
	
	
/* Toggle */
	
	.toggle-wrap {
		float:left;
		width:100%;
	}

	.toggle-title {
		background: #f5f5f5;
		cursor: pointer;
		padding: 10px 15px;
		margin-bottom: 10px;
		display: block;
		font-weight:700;
		font-size:14px;
		transition:all 0.2s ease 0s;
		-moz-transition:all 0.2s ease 0s;
    	-webkit-transition:all 0.2s ease 0s;
    	-o-transition:all 0.2s ease 0s;
	}
	
	.toggle-title:after {
		content:"+";
		float:right;
		font-family:Arial, Helvetica, sans-serif;
		font-size:17px;
		font-weight:bold;
		margin-top:-3px;
	}
	
	.toggle-title a {
		color:#999;
		text-decoration: none;
	}
	
	.toggle-title:hover {
		background: #000;
		color:#fff;
	}
	
	.toggle-title:hover a{
		color:#fff;
	}
		
	.toggle_container {
		padding: 5px 15px;
		margin-bottom: 24px;
		line-height: 25px;
	}
	
	.toggle-active {
		color:#fff;
		background: #000;
	}
	
	.toggle-active:after {
		content:"_";
		margin-top:-10px;
	}
	
	.toggle-active a {
		color:#FFF;
	}
	
	
	
/*  Tabs  */
	
	.tab-shortcode {
		display:table;
		width:100%;
	}
		
	ul.tabs { 
		overflow: hidden; 
		margin: 0px; 
	}
	
	ul.tabs li { 
		float: left; 
		margin: 0px; 
		list-style: none; 
	}
			
	ul.tabs li a {
		display: block;
		background-color: #ddd;
		padding: 6px 20px;
		margin-right: 5px;
		color: #555;
		font-weight:700;
		font-size:14px;
	}
			
	ul.tabs .tab-active a { 
		color: #fff;
		background-color: #000;
	}
	
	ul.tabs li a:hover{ 
		color: #fff;
		background-color: #000;
	}
			
	.tab_container {
		clear: both;
		padding: 20px;
		margin-top:0px;
		line-height:25px;
		background-color: #f5f5f5;
	}
	
	

/*  Alert Boxes  */
	
	.alertboxes {
		float:left;
		width:100%;
	}
	
	.shortcode_alertbox {
		color: #FFFFFF;
		display: block;
		line-height: 20px;
		margin-bottom: 20px;
		padding: 15px 40px 15px 14px;
		position: relative;
	}
	
	.shortcode_alertbox .box_close {
		background: url("images/close_box.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
		background-position:10px 10px;
		background-size:20px 20px;
		display: block;
		height: 40px;
		position: absolute;
		right: 5px;
		top: 5px;
		width: 40px;
		cursor:pointer;
	}
	
	.shortcode_alertbox b {
		color:inherit;
	}
	
	.shortcode_alertbox.box_red {
		background: none repeat scroll 0 0 #F9E5E6;
		color:#B3696C;
	}
	
	.shortcode_alertbox.box_blue {
		background: none repeat scroll 0 0 #D8ECF5;
		color: #528DA9;
	}
	
	.shortcode_alertbox.box_yellow {
		background: none repeat scroll 0 0 #FCF7D9;
    	color: #C4A21B;
	}
	
	.shortcode_alertbox.box_green {
		background: none repeat scroll 0 0 #E3EBC6;
		color: #8FA442;
	}	
	
	
	
	
/* Number Counters */		
	
	.clapat-counters {
		display: table;
		margin-left: 0;
		text-align: center;
		width: 100%;
	}
	
	.clapat-counter {
		text-align: center;
		list-style:none;
		display:inline-block;
		border-right:1px solid rgba(0,0,0,0.08);
		-webkit-box-sizing: border-box;
		-moz-box-sizing:    border-box;
		box-sizing:         border-box;
		width:25%;
		display:table-cell;
	}
	
	.light-content .clapat-counter {
		border-right:1px solid rgba(255,255,255,0.05);
	}
	
	.clapat-counter:last-child {
		border-right:none;
	}
	
	.clapat-counter .number {
		display: block;
		font-family: "Playfair Display",serif;
		font-size: 48px;
		font-weight:400;
		line-height: 48px;
		margin-bottom: 5px;
		color:#000;
	}
	
	.light-content .clapat-counter .number {
		color:#fff;
	}
	
	.clapat-counter .subject {
		font-family: "Montserrat",sans-serif;
		font-size: 10px;
		font-weight: 400;
		letter-spacing: 3px;
		color:#999;
		text-transform:uppercase;
	}
	
	
	
/* Pricing Tables */		
	
	.p-table-item{
		margin: 0 0 30px;
		position: relative;
		text-align: center;
		background:#fff;
	}
	
	.p-table-item-inner{
		border: 3px solid #ddd;
		vertical-align: middle;transition:all 0.3s ease 0s;
		-moz-transition:all 0.3s ease 0s;
		-webkit-transition:all 0.3s ease 0s;
		-o-transition:all 0.3s ease 0s;
	}
	
	.p-table-item-inner:hover{
		border-color: #000;
		
	}
	
	.active .p-table-item-inner{
		border-color: #000;
	}
	
	.p-table-wrap{
		position: relative;		
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;		
		padding: 30px 20px;
		text-align: center;
		overflow: hidden;
	}
	
	.p-table-icon{
		padding-top: 10px;
		padding-bottom: 5px;
		position: relative;
		font-size: 32px;
		z-index: 1;
		color:#000;
	}
	
	.p-table-title{
		position: relative;
		margin-bottom: 40px;
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 1px;
		z-index: 1;
		color:#000;
		text-transform:uppercase;
	}
	
	.p-table-list{
		margin: 0 -20px 30px;
		padding: 0;
		font-weight:400;
		font-size:14px;
	}
	
	.p-table-list li{
		padding: 12px 20px;
		list-style: none;
		border-bottom: 1px solid #ebebeb;
	}
	
	.p-table-list li:first-child{
		border-top: 1px solid #ebebeb;
	}
	
	.p-table-num{
		font-family: 'Montserrat', sans-serif;
		font-size: 40px;
		font-weight: 700;
		line-height: 1;
		margin: 0 -20px;
		border-top: 1px solid #ebebeb;
		padding-top:20px;
		color:#000;
	}
	
	.p-table-num sup{
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-weight: 400;
		position: relative;
		top: -15px;
		left: -3px;
		margin-left: -7px;
		color:#000;
	}
	
	.p-table-button{
		margin: 50px 0 20px 0;
	}
	
	.p-table-per {
		margin-bottom: 20px;
		font-weight:400;
		font-size:14px;
	}
	
	
/* Radial Counters */	
	
	.radial-counter {
		display:block;
		margin:0 50px;
		cursor:default;
		margin:10px;
	}
	
	.radial-counter input {
		cursor:default;
		font-weight: 700!important;
		font-family: 'Montserrat', sans-serif!important;
		font-size:16px!important;
		height:50px!important;
		width:50px!important;
		background-color:#000!important;
		border-radius:100%;
		margin-left: -95px!important;
    	margin-top: 45px!important;
	}
	
	.radial-counter-name {
		margin-top:15px;
	}
	
	.radial-counter-info {
		margin-top:10px;
	}	
	
	
	

	
		
/*--------------------------------------------------
	09. Responsive
---------------------------------------------------*/			
			
@media only screen and (max-width: 1600px) {
	
	
	.container {
		width: 900px;
		box-sizing:border-box;
	}
	
	#page-left, .blog-content {
		padding-left: 100px;
		padding-right: 100px;
	}
	
	.showcase-wrapper li { 
		font-size: 48px;
		line-height: 52px;
	}
	
	.blog-title { 
		font-size: 48px;
		line-height: 58px;
	}
	
	.project-link .np-name {
		font-size: 48px;
	}
	

}

@media only screen and (max-width: 1466px) {
	
	.container {
		width: 800px;
		box-sizing:border-box;
	}
	
	#menu {
		overflow-y: scroll;
	}
	
	nav {
		top:0;
    	margin-top: 100px !important;
	}
	
	.menu-footer {
		padding-top: 50px;
		position: relative;
	}
	
}

@media only screen and (max-width: 1024px) {
	
	#page-left {
		width:100%;
	}
	
	#page-right {
		width:0%;
	}
	
	.list-share-text {
		float: none;
		line-height: 100px;
		position: relative;
		width:100%;
		border-bottom: 1px solid #222;
	}
	
	.list-share {
		margin-left: 0;
		width: 100%;
	}
	
	.list-share a {
		padding-bottom: 50px;
		padding-top: 50px;
	}
	
	h1.big-title{
		font-size: 48px;
		line-height: 52px;
	}
	
	.container, .small .container {
		width:100%;
		padding:0 50px;
	}
	
	.container_post {
		width:100%;
		padding: 0 50px 100px;
	}
	
	.full .container {
		padding:0;
	}
	
	.blog-left {
    	width: 100%;
	}
	
	.blog-right {
    	width: 0%;
	}
	
	.article-discussion-container, .article-formular-container {
		width:100%;
		padding:0 50px;
		box-sizing: border-box;
	}
	
	.article-date, .article-tags, .article-comments {
		width: 100%;
	}
	
	.article-tags {
		border-left: medium none;
		border-right: medium none;
		border-top: 1px solid #222;
	}
	
	.article-comments {
		border-top: 1px solid #222;
	}
	
	.entry-meta {	
    	margin:35px 0;
	}
	
	.one_half {
    	width: 100%;
	}	

	.one_third {
		width: 100%;
	}	

	.one_fourth {
		width: 100%;
	}	

	.one_fifth {
		width: 100%;
	}	

	.one_sixth {
		width: 100%;
	}	

	.two_fifth {
		width: 100%;
	}	

	.two_fourth {
		width: 100%;
	}		

	.two_third {
		width: 100%;
	}	

	.three_fifth {
		width: 100%;
	}	

	.three_fourth {
		width: 100%;
	}	

	.four_fifth {
		width: 100%;
	}	

	.five_sixth {
		width: 100%;
	}	

	.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .two_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
		margin-bottom: 20px;
		margin-right: 0%;
	}
	
	#menu {
    	width: 100%;
		display:block;
		overflow-x: hidden;
		overflow-y: scroll;
		width: calc(100% + 25px);
	}
	
	#menu .inner {
		vertical-align: middle;
	}
	
	nav {
		float: none;
		left: 0;
		text-align: center;
		top: 0;
		width: 100%;
		padding-top:120px;
	}
	
	.menu-footer {
		left: 0;
		padding-bottom: 60px;
		padding-top: 60px;
		position: relative;
		width: 100%;
	}
	
	.clapat-counter {
		border-right: medium none;
		display: block;
		margin-bottom: 30px;
		text-align: center;
		width: 100%;
	}
	
	article.active .blog-right {
    	background-color: #fff;
	}
	
	.blog-content {
		opacity: 1;
	}
	
	
	
}


@media only screen and (max-width: 767px) {
	
	
	#page-left, .blog-content {
		padding-left: 50px;
		padding-right: 50px;
	}
	
	.blog-content {
    	opacity: 1;
	}
	
	.blog-right {
    	border: 0 solid transparent;
	}
	
	.user_comment_reply {
		margin-left: -80px;
	}
	
	.project-link .np-name {
    	line-height: 70px;
	}
	
	.np-view {
    	line-height: 100px;
	}
		
	
	
}


@media only screen and (max-width: 479px) {
	
	
	header {
		border-right: none;
		border-bottom: 1px solid #eee;
		height: 100px;
		width: 100%;
		background-color:#fff;
	}
	
	#header-title-div {
    	display: none;
	}
	
	#hamburger-box {
		border-top:none;
		border-left: 1px solid #fff;
		height: 100px;
		left: auto;
		right: 0;
		width: 100px;
	}
	
	#hamburger-box:hover {
		border-top:none;
		border-left: 1px solid #eee;
	}
	
	#page-content {
		padding-left: 0px;
	}
	
	#hero {
		padding-top: 0px;
	}
	
	.container, .small .container {
    	padding: 0 30px;
	}
	
	.container_post {
		width:100%;
		padding: 0 30px 100px;
	}
	
	#page-left, .blog-content {
		padding-left: 30px;
		padding-right: 30px;
	}
	
	#page-left {
		overflow-x: hidden;
		overflow-y: scroll;
		padding-top:140px;
		width: calc(100% + 25px);
	}
	
	.showcase-wrapper li {
		font-size: 40px;
		line-height: 46px;
	}
	
	.case-study-div {
    	margin-bottom: 50px;
	}
	
	#loader-line-box {
		right: 35px;
		top: 140px;
	}
	
	#project_close {
		border-top: none;
		border-left: 1px solid #fff;
		bottom: auto;
		height: 99px;
		left: auto;
		right: 0;
		top: 0;
		width: 100px;
	}
	
	#project_close:hover {
		border-top: none;
		border-left: 1px solid #eee;
		opacity:1;
	}
	
	#project_next {
		width: 100%;
	}
	
	.project-link {
    	padding: 10px;
	}
	
	.project-link .np-name {
		font-size: 40px;
	}
	
	#fp-nav {
		display:none;
	}
	
	.user_comment {
		padding-left: 0;
	}
	
	.user-image {
		display:none;
	}
	
	#jpreOverlay, #jpreSlide, #jpreLoader, #jpreBar {
		display:none;
	}
	
	
}	

		

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
    
	#rotate-device {
		display:block;
	}
}
